#header {
    height: 100px;
    background-color: blue;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "メイリオ";
}
#footer {
    height: 100px;
    background-color:white;
}

#main {
    margin-left: 15%;
    margin-right: 15%;
    font-family: "メイリオ";
}
.contents_sub {
    height: 500px;
}

.contents_header{
    height: 30px;
    background-color: gray;
}

.shap_imgs{
    height: 300px;
}

.visualize_imgs{
    height: 300px;
}

